In [577]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime

In [578]:
data = pd.read_csv('train.csv', index_col='PassengerId')
kaggle_test = pd.read_csv('test.csv', index_col='PassengerId')
gender_submission = pd.read_csv('gender_submission.csv')

In [579]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [580]:
data = data.replace('male', 0)
data = data.replace('female', 1)
data = data.replace('Q', 0)
data = data.replace('C', 1)
data = data.replace('S', 2)
X = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = data['Survived']

C:\Users\SystemX\AppData\Local\Temp\ipykernel_23128\3913711457.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace('female', 1)
C:\Users\SystemX\AppData\Local\Temp\ipykernel_23128\3913711457.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace('S', 2)

In [581]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.28)

In [582]:
forest = RandomForestClassifier(random_state=2, n_estimators=12, min_samples_leaf=2, max_depth=7, n_jobs=-1)
forest.fit(X, y)
y_predicted_train = forest.predict(X_train)
y_predicted_test = forest.predict(X_test)

In [583]:
kaggle_test = kaggle_test.replace('male', 0)
kaggle_test = kaggle_test.replace('female', 1)
kaggle_test = kaggle_test.replace('Q', 0)
kaggle_test = kaggle_test.replace('C', 1)
kaggle_test = kaggle_test.replace('S', 2)
X_kaggle_test = kaggle_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
for col in kaggle_test.select_dtypes(include=['object']).columns:
    kaggle_test[col] = le.fit_transform(kaggle_test[col])

C:\Users\SystemX\AppData\Local\Temp\ipykernel_23128\2038254244.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  kaggle_test = kaggle_test.replace('female', 1)
C:\Users\SystemX\AppData\Local\Temp\ipykernel_23128\2038254244.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  kaggle_test = kaggle_test.replace('S', 2)

In [584]:
kaggle_test['Pclass'] = kaggle_test['Pclass'].fillna(value=kaggle_test['Pclass'].mean())
kaggle_test['Sex'] = kaggle_test['Sex'].fillna(value=kaggle_test['Sex'].mean())
kaggle_test['SibSp'] = kaggle_test['SibSp'].fillna(value=kaggle_test['SibSp'].mean())
kaggle_test['Age'] = kaggle_test['Age'].fillna(value=kaggle_test['Age'].mean())
kaggle_test['Parch'] = kaggle_test['Parch'].fillna(value=kaggle_test['Parch'].mean())
kaggle_test['Fare'] = kaggle_test['Fare'].fillna(value=kaggle_test['Fare'].mean())

In [585]:
y_predicted_kaggle_test = forest.predict(X_kaggle_test)

In [586]:
kaggle_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,206,0,34.5,0,0,152,7.8292,76,0
893,3,403,1,47.0,1,0,221,7.0000,76,2
894,2,269,0,62.0,0,0,73,9.6875,76,0
895,3,408,0,27.0,0,0,147,8.6625,76,2
896,3,178,1,22.0,1,1,138,12.2875,76,2

In [587]:
predictions = y_predicted_kaggle_test.astype(int)
output = pd.DataFrame({'PassengerId': X_kaggle_test.index.to_list(), 'Survived': y_predicted_kaggle_test })
file_name = f'submission_{datetime.datetime.now().strftime("%Y-%m-%d-%H-%M-%S")}.csv'
output.to_csv(file_name, index=False)